rq==1.16.2
redis
celery==5.4.0
flower
python-dotenv
elasticsearch==8.15.1
elastic-transport==8.15.0
mariadb==1.1.8
httpx[http2]
pydantic
scipy
accelerate
ffmpeg-python
pymysql
elevenlabs
openai
google
google.genai
json-repair
minio