<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>

{% include 'header/header-top.html' %}

<div class="container">

     {% include 'header/header-left.html' %}

     <div class="container-main">
        <div class="breadcrumb">
            <div class="breadcrumb-navigation flex flex-align-center">
                {% include 'header/icons/icon-breadcrumb.html' %}
            </div>
            <div class="breadcrumb-heading flex flex-align-center">
                <div class="breadcrumb-heading-previous ml-15">
                    Дашборд
                </div>
            </div>
        </div>

        <div class="content">
            {% if current_user.role.name == 'admin' %}
            <form
                    action="{{ url_for('user_dashboard') }}"
                    class="flex flex-direction-row flex-align-end mb-20"
            >
                <div class="flex flex-direction-column">
                    <label class="label label-required_danger mb-5" for="user_id" style="white-space: nowrap">Користувач</label>
                    <div class="w-100">
                        <select name="user_id" id="user_id" style="width: 300px">
                            <option value="0">Оберіть користувача</option>
                            {% for user in users %}
                            {% if filter == user.id %}
                                <option value="{{user.id}}" selected>{{ user.username }}</option>
                            {% else %}
                                <option value="{{user.id}}">{{ user.username }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <button type="submit" class="button button-primary ml-15">
                    {% include 'header/icons/icon-filter.html' %}
                    <span style="margin-left: 10px">Фільтрувати</span>
                </button>
            </form>
            {% endif %}

            <div class="flex flex-direction-row flex-content-between">

                <div class="card" style="width: 50%">
                    <div class="p-20">
                        <span class="card-title">
                            Кількість транскрипцій
                        </span>
                    </div>
                    <div class="card-border"></div>
                    <div class="p-20">
                        <div id="say-chart">
                            <div id="day-chart-content"></div>
                        </div>
                    </div>
                </div>

                <div class="card ml-15" style="width: 50%">
                    <div class="p-20">
                        <span class="card-title">
                            Використано хвилин
                        </span>
                    </div>
                    <div class="card-border"></div>
                    <div class="p-20">
                        <div id="week-chart">
                            <div id="week-chart-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',path='chart.sample.js') }}"></script>


<script>
    let dashboard = "{{ dashboard|string }}"
    dashboard = JSON.parse(dashboard.replaceAll('&#39;', '"'));

    let options = {
        chart: {
            width: "100%",
            height: 500,
            type: "bar"
        },
        colors: ['#775DD0', '#00C8E1', '#FFB900'],
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '55%',
            endingShape: 'rounded'
          },
        },
        dataLabels: {
          enabled: false
        },
        labels: [""],
        stroke: {
          show: true,
          width: 2,
          colors: ['transparent']
        },
        series: [
            {
                name: 'Today',
                data: [dashboard["today"]["records"]]
            },
            {
                name: 'Week',
                data: [dashboard["week"]["records"]]
            },
            {
                name: 'Month',
                data: [dashboard["month"]["records"]]
            }
        ],
        legend: {
            show: true,
            position: 'bottom',
            containerMargin: {
              right: 0
            }
        },

        yaxis: {
          title: {
            text: 'Кількість транскрипцій'
          }
        },
        fill: {
          opacity: 1
        },
        tooltip: {
          y: {
            formatter: function (val) {
              return val
            }
          }
        },
        responsive: [
            {
                breakpoint: 1000,
                options: {
                    plotOptions: {
                        bar: {
                            horizontal: false
                        }
                    },
                    legend: {
                        position: "bottom"
                    }
                }
            }
        ]
    };

    let chart = new ApexCharts(
        document.querySelector("#day-chart-content"),
        options
    );

    options.series = [
        {
            name: 'Today',
            data: [Math.round(dashboard["today"]["duration"] * 100) / 100]
        },
        {
            name: 'Week',
            data: [Math.round(dashboard["week"]["duration"] * 100) / 100]
        },
        {
            name: 'Month',
            data: [Math.round(dashboard["month"]["duration"] * 100) / 100]
        }
    ];

    options.yaxis = {
      title: {
        text: 'Кількість хвилин'
      }
    };

    chart.render();

    let weekChart = new ApexCharts(
        document.querySelector("#week-chart-content"),
        options
    );

    weekChart.render();

    options.series = [
        {
            name: "Total",
            data: [dashboard["month"]["records"]]
        },
        {
            name: "Duration (m)",
            data: [dashboard["month"]["duration"] / 60]
        },
    ]

    let monthChart = new ApexCharts(
        document.querySelector("#month-chart-content"),
        options
    );

    monthChart.render();
</script>
</body>
</html>