<head>
    <meta charset="UTF-8">
    <title>Voiptime Transcriptions</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', path='/js/flower.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='/js/moment-2.29.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='/js/moment-timezone-with-data-2.29.4.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/header-top.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/header-left.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/button.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/breadcrumb.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/table.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/pagination.css') }}">
    <link rel="shortcut icon" href="#">
</head>
