uvicorn
fastapi
accelerate
starlette[full]
uuid
Pipenv
elasticsearch==8.15.1
sqlalchemy
pymysql
mysqlclient
mariadb==1.1.8
python-dotenv
python-multipart
celery
torchaudio
werkzeug
soundfile
pandas
rq_scheduler
tornado
prometheus_client
humanize