uvicorn
fastapi
accelerate
starlette[full]
uuid
Pipenv
elasticsearch==8.15.1
elastic-transport==8.15.0
sqlalchemy
pymysql
mysqlclient
mariadb==1.1.8
python-dotenv
python-multipart
celery==5.4.0
torchaudio
werkzeug
soundfile
pandas
rq_scheduler
tornado
prometheus_client
humanize
minio