<!DOCTYPE html>
<html lang="en">

  {% include 'head.html' %}

  <body>

  {% include 'header/header-top.html' %}

  <div class="container">

    {% include 'header/header-left.html' %}

    <div class="container-main">
        <div class="breadcrumb">
            <div class="breadcrumb-navigation flex flex-align-center">
                {% include 'header/icons/icon-breadcrumb.html' %}
            </div>
            <div class="breadcrumb-heading flex flex-align-center">
                <div class="breadcrumb-heading-previous ml-15">
                    Задачі
                </div>
            </div>
        </div>

        <div class="content">
            <div class="content-wrapper">
                <div class="content-wrapper-head">
                    <div class="content-head-heading">
                        <div class="content-wrapper-head-header-heading">
                            Задачі
                        </div>
                        <div class="content-wrapper-head-header-description">
                            Моніторинг
                        </div>
                    </div>
                    <div class="content-wrapper-head-actions">
                        <div class="flex flex-direction-column ml-15">
                            <label class="label label-required_danger mb-5" for="state-filter" style="white-space: nowrap">Стан</label>
                            <div class="w-100">
                                <select id="state-filter" onchange="filterJobsByState()" style="width: 250px">
                                  <option value="all">All</option>
                                  <option value="scheduled">scheduled</option>
                                  <option value="queued">queued</option>
                                  <option value="started">started</option>
                                  <option value="failed">failed</option>
                                  <option value="deferred">deferred</option>
                                  <option value="finished">finished</option>
                                </select>
                            </div>
                        </div>
                        <div class="flex flex-direction-column ml-15">
                            <label class="label label-required_danger mb-5" for="queue-name-filter" style="white-space: nowrap">Черга</label>
                            <div class="w-100">
                                <select id="queue-name-filter" onchange="filterJobsByQueue()" style="width: 250px">
                                  <option value="all">All</option>
                                  {% for queue in job_data %}
                                  <option value="{{ queue.queue_name }}">
                                    {{ queue.queue_name }}
                                  </option>
                                  {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="flex flex-direction-column ml-15">
                          <label class="label label-required_danger mb-5" style="width: 100%">Автооновлення</label>
                          <div class="w-100 flex flex-content-center flex-align-center" style="height: 36px">
                            <div id="toggleActive">
                              <span onclick="toggleAutorefresh()">
                                  {% include 'header/icons/icon-square-checked.html' %}
                                  <input type="hidden" checked id="autorefresh-switch">
                              </span>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>

                {% set headings = [
                    {'name': 'ID', 'id': True},
                    {'name': 'Статус', 'status': True},
                    {'name': 'Назва', 'named': True},
                    {'name': 'Дата'},
                    {'name': 'Дії', 'actions': True},
                ] %}

                <div class="table-header">
                   {% for heading in headings %}
                    {% if heading.named %}
                     <div style="width: 44%">
                         {{ heading.name }}
                     </div>
                    {% else %}
                    <div style="width: {% if heading.actions %}60px{% else %}{% if heading.status %}10%{% else %}{% if heading.id %}19%{% else %}21%{% endif %}{% endif %}{% endif %};">
                        {{ heading.name }}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <div class="content-wrapper-info">
                    <div class="table-content" id="table-content">
                        {% if not job_data %}
                        <div class="table-row">
                            <div style="width: 100%; text-align: center">
                                Немає задач
                            </div>
                        </div>
                        {% endif %}
                        {% for queue in job_data %} {% for state in ["queued", "started", "failed", "deferred", "finished"] %} {% for job in queue[state] %}
                        <div class="table-row">
                            <div style="width: 19%">
                              <a href="#" data-job-id="{{ job.id }}">{{ job.id }}</a>
                            </div>
                            <div style="width: 10%">
                              {{ state }}
                            </div>
                            <div style="width: 45%">
                              {{ job.name }}
                            </div>
                            <div style="width: 20%" class="created-date">
                              {{ job.created_at }}
                            </div>

                            <div style="width: 60px">
                                <div class="is-flex-direction-row is-align-content-center">
                                    <a onclick="deleteJob('{{ job.id }}')" style="color: #00475A; cursor:pointer;">
                                       {% include 'header/icons/icon-delete.html' %}
                                    </a>
                                    {% if state == "failed" %}
                                        <a onclick="requeueJob('{{ job.id }}')" style="color: #00475A; cursor:pointer;">
                                           {% include 'header/icons/icon-requeue.html' %}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %} {% endfor %} {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination">
          <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <ul class="pagination-wrapper">
                <li class="pagination-wrapper-option" onclick="previousPage()">
                    <div class="pagination-wrapper-option-button" aria-label="Goto page 1">
                        <svg height="20px" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M15.1667 8L11 12.1667L15.1667 16.3333" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </li>
                  <li class="pagination-wrapper-option ml-20">
                    <div class="pagination-wrapper-option-button pagination-wrapper-option-button-active" id="page-number">{{ page if page else 1 }}</div>
                </li>
                <li class="pagination-wrapper-option" onclick="nextPage()">
                    <div class="pagination-wrapper-option-button" aria-label="Goto page 1" style="margin-left: 10px">
                        <svg height="20px" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.2333 16L15.4 11.8333L11.2333 7.66667" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </li>
            </ul>
          </nav>
        </div>

    </div>
</div>

  <script>
      let autoRefreshEnabled = true;
      let autoRefreshInterval;
      const protocol = '{{ protocol }}';
      const host = window.location.host;
      const prefix = '{{ prefix }}';
      const baseurl = protocol + '://' + host + prefix;

      function showNotification(message) {
        const notification = document.createElement('ul');
        notification.className = 'notifications';
        notification.innerHTML =  `
            <li class="toast success">
                <div class="column">
                   {% include 'header/icons/icon-error.html' %}
                   <span>${message}</span>
                </div>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="removeToast(this.parentElement)">
                    <path d="M18 6L6 18" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 6L18 18" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </li>
        `

        document.body.appendChild(notification);

        setTimeout(() => {
          document.body.removeChild(notification);
        }, 3000);
      }

      function showErrorNotification(message) {
        const notification = document.createElement('ul');
        notification.className = 'notifications';
        notification.innerHTML =  `
            <li class="toast error">
                <div class="column">
                   {% include 'header/icons/icon-error.html' %}
                   <span>${message}</span>
                </div>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="removeToast(this.parentElement)">
                    <path d="M18 6L6 18" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 6L18 18" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </li>
        `

        document.body.appendChild(notification);

        setTimeout(() => {
          document.body.removeChild(notification);
        }, 3000);
      }

      function toggleAutorefresh() {
        autoRefreshEnabled = !autoRefreshEnabled;
        if (autoRefreshEnabled) {
          autoRefreshInterval = setInterval(updateJobsData, 5000);
          showNotification('Autorefresh enabled');
        } else {
          clearInterval(autoRefreshInterval);
          showNotification('Autorefresh disabled');
        }

        const activeSpan = document.getElementById('toggleActive');
        if (!autoRefreshEnabled) {
            activeSpan.innerHTML = `
                <span onclick="toggleAutorefresh()">
                    {% include 'header/icons/icon-square.html' %}
                    <input type="hidden" id="autorefresh-switch">
                </span>`;
        } else {
            activeSpan.innerHTML = `
                <span onclick="toggleAutorefresh()">
                    {% include 'header/icons/icon-square-checked.html' %}
                    <input type="hidden" checked id="autorefresh-switch">
                </span>`;
        }
      }

      $(document).ready(function () {
        $("#autorefresh-switch").on("change", function () {
          toggleAutorefresh();
        });

        autoRefreshEnabled = document.getElementById("autorefresh-switch").hasAttribute('checked');
        if (autoRefreshEnabled) {
          autoRefreshInterval = setInterval(updateJobsData, 5000);
        }

        const urlParams = new URLSearchParams(window.location.search);

        let defaultState = urlParams.get("state") || "all";
        $("#state-filter").val(defaultState);

        let defaultQueue = urlParams.get("queue_name") || "all";
        $("#queue-name-filter").val(defaultQueue);
      });

      function getState() {
        let selectedState = $("#state-filter").val();
        return selectedState;
      }

      function getQueue() {
        let selectedQueue = $("#queue-name-filter").val();
        return selectedQueue;
      }

      function filterJobsByState() {
        let selectedState = $("#state-filter").val();
        updateJobsData(selectedState);
      }

      function filterJobsByQueue() {
        let selectedQueue = $("#queue-name-filter").val();
        updateJobsData(selectedQueue);
      }

      function updateJobsData() {
        if (autoRefreshEnabled) {
          let selectedState = $("#state-filter").val();
          let selectedQueue = $("#queue-name-filter").val();
          $.ajax({
            url:
              baseurl +
              "/jobs/json?state=" +
              selectedState +
              "&queue_name=" +
              selectedQueue +
              "&page=" +
              page,
            type: "GET",
            dataType: "json",
            success: function (data) {
              updateJobsTable(data);
            },
            error: function (error) {
              console.error("Error fetching jobs data: ", error);
              showErrorNotification("Error fetching jobs data");
            },
          });
        }
      }

      function hasElements(arr) {
          for (let i = 0; i < arr.length; i++) {
              for (let arrElementKey in arr[i]) {
                  if (Array.isArray(arr[i][arrElementKey])) {
                      if (arr[i][arrElementKey].length > 0) {
                          return true;
                      }
                  }
              }
          }
          return false;
      }

      function updateJobsTable(data) {
        var tableBody = $("#table-content");
        tableBody.empty();
        if (data.length === 0 || !hasElements(data)) {
            var row = $("<div class='table-row'>");
            row.append($("<div style=\"width: 100%; text-align: center\">Немає задач</div></div>"));
            tableBody.append(row);
        }

        $.each(data, function (index, queue) {
          $.each(
            [
              "scheduled",
              "queued",
              "started",
              "failed",
              "deferred",
              "finished",
            ],
            function (stateIndex, state) {
              $.each(queue[state], function (jobIndex, job) {
                var row = $("<div class='table-row'>");
                var jobLink = $("<a>")
                  .attr("href", baseurl + "/job/" + job.id)
                  .text(job.id);
                row.append($("<div style='width: 19%'>").append(jobLink));
                row.append($("<div style='width: 10%'>").append(state));
                row.append($("<div style='width: 45%'>").text(job.name));
                row.append($("<div style='width: 20%'>").text(convertUTCToLocal(job.created_at)));

                var optionsCell = $("<div style='width: 80px' class='is-flex-direction-row is-align-content-center'>");
                optionsCell.append(
                  $("<a style='cursor:pointer;'>")
                      .html(`
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1_1034)">
                            <path d="M2.5 4.54465H13.5M3.1875 4.54465L3.875 13.2113C3.875 13.5944 4.01987 13.9618 4.27773 14.2327C4.53559 14.5036 4.88533 14.6558 5.25 14.6558H10.75C11.1147 14.6558 11.4644 14.5036 11.7223 14.2327C11.9801 13.9618 12.125 13.5944 12.125 13.2113L12.8125 4.54465M5.9375 4.54465V2.37798C5.9375 2.18644 6.00993 2.00274 6.13886 1.8673C6.2678 1.73185 6.44266 1.65576 6.625 1.65576H9.375C9.55734 1.65576 9.7322 1.73185 9.86114 1.8673C9.99007 2.00274 10.0625 2.18644 10.0625 2.37798V4.54465M6.625 8.15576L9.375 11.0447M9.375 8.15576L6.625 11.0447" stroke="#00475A" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_1_1034">
                            <rect width="16" height="16" fill="white" transform="translate(0 0.00439453)"/>
                            </clipPath>
                            </defs>
                        </svg>

                    `)
                    .addClass("delete-button")
                    .on("click", function () {
                      deleteJob(job.id);
                    })
                );

                if (state === "failed") {
                  optionsCell.append($("<span>").addClass("button-spacer"));
                  optionsCell.append(
                    $("<a style='cursor:pointer;'>")
                      .html(
                          `
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                              <path d="M17 2v6h-6" />
                              <path d="M3 12a9 9 0 0 1 15-6.7L17 8" />
                              <path d="M21 12a9 9 0 0 1-15 6.7L7 16" />
                            </svg>
                          `
                      )
                      .addClass("requeue-button")
                      .on("click", function () {
                        requeueJob(job.id);
                      })
                  );
                }
                row.append(optionsCell);
                tableBody.append(row);
              });
            }
          );
        });
      }

      function deleteJob(job_id) {
        $.ajax({
          url: baseurl + "/job/" + job_id,
          type: "DELETE",
          error: function (error) {
            console.error("Error fetching job data: ", error);
            showErrorNotification("Error deleting job");
          },
            success: function (success) {
              showNotification("Job successfully deleted")
          }
        });
      }

      function requeueJob(job_id) {
        $.ajax({
          url: baseurl + "/job/" + job_id + "/requeue",
          type: "POST",
          error: function (error) {
            console.error("Error fetching job data: ", error);
            showErrorNotification("Error requeueing job");
          },
          success: function (success) {
              showNotification("Job successfully requeued")
          }
        });
      }

      document.addEventListener("DOMContentLoaded", function () {
        const jobLinks = document.querySelectorAll("a[data-job-id]");
        jobLinks.forEach((link) => {
          const jobId = link.getAttribute("data-job-id");
          link.href = `${baseurl}/job/${jobId}`;
        });
      });

      if (autoRefreshEnabled) {
        setInterval(updateJobsData, 5000);
      }

      let page = 1;

      window.onload = function () {
        updatePageNumber();
      };

      function nextPage() {
        page += 1;
        updatePageNumber();
        updateJobsData();
      }

      function previousPage() {
        if (page > 1) {
          page -= 1;
          updatePageNumber();
          updateJobsData();
        }
      }

      function updatePageNumber() {
        document.getElementById("page-number").textContent = page;
      }

      const removeToast = (toast) => {
          toast.classList.add("hide")
          if (toast.timeoutId) clearTimeout(toast.timeoutId)
          setTimeout(() => toast.remove(), 500)
     }

    function convertUTCToLocal(utcDateString) {
      // Parse the UTC date string to a Date object
      if (utcDateString.endsWith("Z")) {
            utcDateString = utcDateString.replaceAll("Z", "");
        }
        const utcDate = new Date(utcDateString + 'Z')

      // Format the Date object to the desired format in the local timezone
      const options = {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        hour12: false,
        timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone // Ensures local timezone
      };

      const formatter = new Intl.DateTimeFormat('en-CA', options);
      const formattedDateParts = formatter.formatToParts(utcDate);

      // Extract parts and assemble into desired format
      const year = formattedDateParts.find(part => part.type === 'year').value;
      const month = formattedDateParts.find(part => part.type === 'month').value;
      const day = formattedDateParts.find(part => part.type === 'day').value;
      const hour = formattedDateParts.find(part => part.type === 'hour').value;
      const minute = formattedDateParts.find(part => part.type === 'minute').value;
      const second = formattedDateParts.find(part => part.type === 'second').value;

      // Return the formatted date string
      return `${year}-${month}-${day} ${hour}:${minute}:${second}`;
    }
    document.querySelectorAll('.created-date').forEach(element => {
      const utcDate = element.textContent.trim();
      element.textContent = convertUTCToLocal(utcDate);
    });


    </script>
  </body>
</html>