<!DOCTYPE html>
<html lang="en">

  {% include 'head.html' %}

  <body>

  {% include 'header/header-top.html' %}

  <div class="container">

    {% include 'header/header-left.html' %}

    <div class="container-main">
        <div class="breadcrumb">
            <div class="breadcrumb-navigation flex flex-align-center">
                {% include 'header/icons/icon-breadcrumb.html' %}
            </div>
            <div class="breadcrumb-heading flex flex-align-center">
                <div class="breadcrumb-heading-previous ml-15">
                    Черги
                </div>
            </div>
        </div>

        <div class="content">
            <div class="content-wrapper">
                <div class="content-wrapper-head">
                    <div class="content-head-heading">
                        <div class="content-wrapper-head-header-heading">
                            Черги
                        </div>
                        <div class="content-wrapper-head-header-description">
                            Моніторинг
                        </div>
                    </div>
                    <div class="content-wrapper-head-actions">
                        <div class="flex flex-direction-column ml-15">
                          <label class="label label-required_danger mb-5" style="width: 100%">Автооновлення</label>
                          <div class="w-100 flex flex-content-center flex-align-center" style="height: 36px">
                            <span id="toggleActive">
                              <span onclick="toggleAutorefresh()">
                                  {% include 'header/icons/icon-square-checked.html' %}
                                  <input type="hidden" checked id="autorefresh-switch">
                              </span>
                            </span>
                          </div>
                      </div>
                    </div>
                </div>

                {% set headings = [
                    {'name': 'Назва черги'},
                    {'name': 'У черзі'},
                    {'name': 'Розпочатих'},
                    {'name': 'Неуспішних'},
                    {'name': 'Відкладених'},
                    {'name': 'Завершених'},
                    {'name': 'Дії', 'actions': True},
                ] %}

                <div class="table-header">
                   {% for heading in headings %}
                    <div style="width: {% if heading.actions %}70px{% else %}15.8%{% endif %};">
                        {{ heading.name }}
                    </div>
                    {% endfor %}
                </div>

                <div class="content-wrapper-info">
                    <div class="table-content" id="table-content">
                        {% if not queue_data %}
                        <div class="table-row">
                            <div style="width: 100%; text-align: center">
                                Немає черг
                            </div>
                        </div>
                        {% endif %}
                        {% for queue_stats in queue_data %}
                        <div class="table-row">
                            <div style="width: 17%">
                              <a href="{{baseurl}}/webhooks/jobs?queue={{ queue_stats.queue_name }}">
                                {{ queue_stats.queue_name }}
                              </a>
                            </div>
                            <div style="width: 16%">
                                <a
                                    href="{{baseurl}}/webhooks/jobs?queue={{ queue_stats.queue_name }}&state=queued"
                                  >
                                    {{ queue_stats.queued }}
                                  </a>
                            </div>
                            <div style="width: 16%">
                              <a
                                href="{{baseurl}}/webhooks/jobs?queue={{ queue_stats.queue_name }}&state=started"
                              >
                                {{ queue_stats.started }}
                              </a>
                            </div>
                            <div style="width: 17%">
                              <a
                                href="{{baseurl}}/webhooks/jobs?queue={{ queue_stats.queue_name }}&state=failed"
                              >
                                {{ queue_stats.failed }}
                              </a>
                            </div>
                            <div style="width: 15%">
                              <a
                                href="{{baseurl}}/webhooks/jobs?queue={{ queue_stats.queue_name }}&state=deferred"
                              >
                                {{ queue_stats.deferred }}
                              </a>
                            </div>
                            <div style="width: 15%">
                              <a
                                href="{{baseurl}}/webhooks/jobs?queue={{ queue_stats.queue_name }}&state=finished"
                              >
                                {{ queue_stats.finished }}
                              </a>
                            </div>

                            <div style="width: 50px">
                                <div class="is-flex-direction-row is-align-content-center">
                                    <a onclick="deleteJobsInQueue('{{ queue_stats.queue_name }}')" style="color: #00475A; cursor: pointer">
                                       {% include 'header/icons/icon-delete.html' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <script>
      let autoRefreshEnabled = true;
      let autoRefreshInterval;
      const protocol = '{{ protocol }}';
      const host = window.location.host;
      const prefix = '{{ prefix }}';
      const baseurl = protocol + '://' + host + prefix;

      function showNotification(message) {
        const notification = document.createElement('ul');
        notification.className = 'notifications';
        notification.innerHTML =  `
            <li class="toast success">
                <div class="column">
                   {% include 'header/icons/icon-error.html' %}
                   <span>${message}</span>
                </div>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="removeToast(this.parentElement)">
                    <path d="M18 6L6 18" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 6L18 18" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </li>
        `

        document.body.appendChild(notification);

        setTimeout(() => {
          document.body.removeChild(notification);
        }, 3000);
      }

      function showErrorNotification(message) {
        const notification = document.createElement('ul');
        notification.className = 'notifications';
        notification.innerHTML =  `
            <li class="toast error">
                <div class="column">
                   {% include 'header/icons/icon-error.html' %}
                   <span>${message}</span>
                </div>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="removeToast(this.parentElement)">
                    <path d="M18 6L6 18" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 6L18 18" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </li>
        `

        document.body.appendChild(notification);

        setTimeout(() => {
          document.body.removeChild(notification);
        }, 3000);
      }

      function toggleAutorefresh() {
        autoRefreshEnabled = !autoRefreshEnabled;
        if (autoRefreshEnabled) {
          autoRefreshInterval = setInterval(updateQueuesData, 5000);
          showNotification('Autorefresh enabled');
        } else {
          clearInterval(autoRefreshInterval);
          showNotification('Autorefresh disabled');
        }

        const activeSpan = document.getElementById('toggleActive');
        if (!autoRefreshEnabled) {
            activeSpan.innerHTML = `
                <span onclick="toggleAutorefresh()">
                    {% include 'header/icons/icon-square.html' %}
                    <input type="hidden" id="autorefresh-switch">
                </span>`;
        } else {
            activeSpan.innerHTML = `
                <span onclick="toggleAutorefresh()">
                    {% include 'header/icons/icon-square-checked.html' %}
                    <input type="hidden" checked id="autorefresh-switch">
                </span>`;
        }
      }

      $(document).ready(function () {
        $('#autorefresh-switch').on('change', function () {
          toggleAutorefresh();
        });
        autoRefreshEnabled = document.getElementById("autorefresh-switch").hasAttribute('checked');
        if (autoRefreshEnabled) {
          autoRefreshInterval = setInterval(updateQueuesData, 5000);
        }
      });

      function updateQueuesData() {
        if (autoRefreshEnabled) {
          $.ajax({
            url: baseurl + '/queues/json',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
              updateQueuesTable(data);
            },
            error: function (error) {
              console.error('Error fetching queues data: ', error);
              showErrorNotification('Error fetching queues data');
            },
          });
        }
      }

      function deleteJobsInQueue(queue_name) {
        $.ajax({
          url: baseurl + '/queues/' + queue_name,
          type: 'DELETE',
          error: function (error) {
            console.error('Error deleting jobs in queue: ', error);
            showErrorNotification('Error deleting job');
          },
        });
      }

      function updateQueuesTable(data) {
        var tableBody = $('#table-content');

        if (tableBody.children().length > 0) {
          tableBody.empty();
        }

        $.each(data, function (index, queue_stats) {
          var row = $('<div class="table-row">');
          row.append($('<div style="width: 17%">').text(queue_stats.queue_name));
          row.append(
            $('<div style="width: 16%">').append(
              $('<a>')
                .attr(
                  'href',
                  baseurl +
                    '/jobs' +
                    '?state=queued&queue_name=' +
                    queue_stats.queue_name
                )
                .text(queue_stats.queued)
            )
          );
          row.append(
            $('<div style="width: 16%">').append(
              $('<a>')
                .attr(
                  'href',
                  baseurl +
                    '/jobs' +
                    '?state=started&queue_name=' +
                    queue_stats.queue_name
                )
                .text(queue_stats.started)
            )
          );
          row.append(
            $('<div style="width: 16%">').append(
              $('<a>')
                .attr(
                  'href',
                  baseurl +
                    '/jobs' +
                    '?state=failed&queue_name=' +
                    queue_stats.queue_name
                )
                .text(queue_stats.failed)
            )
          );
          row.append(
            $('<div style="width: 17%">').append(
              $('<a>')
                .attr(
                  'href',
                  baseurl +
                    '/jobs' +
                    '?state=deferred&queue_name=' +
                    queue_stats.queue_name
                )
                .text(queue_stats.deferred)
            )
          );
          row.append(
            $('<div style="width: 15%">').append(
              $('<a>')
                .attr(
                  'href',
                  baseurl +
                    '/jobs' +
                    '?state=finished&queue_name=' +
                    queue_stats.queue_name
                )
                .text(queue_stats.finished)
            )
          );
          row.append(
            $("<a style='cursor:pointer;'>")
              .html(`
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1_1034)">
                    <path d="M2.5 4.54465H13.5M3.1875 4.54465L3.875 13.2113C3.875 13.5944 4.01987 13.9618 4.27773 14.2327C4.53559 14.5036 4.88533 14.6558 5.25 14.6558H10.75C11.1147 14.6558 11.4644 14.5036 11.7223 14.2327C11.9801 13.9618 12.125 13.5944 12.125 13.2113L12.8125 4.54465M5.9375 4.54465V2.37798C5.9375 2.18644 6.00993 2.00274 6.13886 1.8673C6.2678 1.73185 6.44266 1.65576 6.625 1.65576H9.375C9.55734 1.65576 9.7322 1.73185 9.86114 1.8673C9.99007 2.00274 10.0625 2.18644 10.0625 2.37798V4.54465M6.625 8.15576L9.375 11.0447M9.375 8.15576L6.625 11.0447" stroke="#00475A" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1_1034">
                    <rect width="16" height="16" fill="white" transform="translate(0 0.00439453)"/>
                    </clipPath>
                    </defs>
                </svg>

            `)
            .addClass('delete-button')
            .on('click', function () {
              deleteJobsInQueue(queue_stats.queue_name);
            })
          );
          tableBody.append(row);
        });
      }

      $(document).ready(function () {
        updateQueuesData();
      });

      if (autoRefreshEnabled) {
        setInterval(updateQueuesData, 5000);
      }
      const removeToast = (toast) => {
          toast.classList.add("hide")
          if (toast.timeoutId) clearTimeout(toast.timeoutId)
          setTimeout(() => toast.remove(), 500)
     }
    </script>
  </body>
</html>