<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>

{% include 'header/header-top.html' %}

<div class="container">

    {% include 'header/header-left.html' %}

    <div class="container-main">
        <div class="breadcrumb">
            <div class="breadcrumb-navigation flex flex-align-center">
                {% include 'header/icons/icon-breadcrumb.html' %}
            </div>
            <div class="breadcrumb-heading flex flex-align-center">
                <div class="breadcrumb-heading-previous ml-15">
                    Задачі
                </div>
            </div>
        </div>

        <div class="content">
            <div class="content-wrapper">
                <div class="content-wrapper-head">
                    <div class="content-head-heading">
                        <div class="content-wrapper-head-header-heading">
                            Задачі транскрибування
                        </div>
                        <div class="content-wrapper-head-header-description">
                            Моніторинг
                        </div>
                    </div>
                    <div class="content-wrapper-head-actions">
                        <form class="flex flex-direction-row flex-align-end">
                            <div class="flex flex-direction-column ml-15">
                                <label class="label label-required_danger mb-5" for="state-filter"
                                       style="white-space: nowrap">Стан</label>
                                <div class="w-100">
                                    <select id="state-filter" style="width: 250px">
                                        <option value="all">All</option>
                                        <option value="STARTED">STARTED</option>
                                        <option value="FAILURE">FAILURE</option>
                                        <option value="RETRY">RETRY</option>
                                        <option value="SUCCESS">SUCCESS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="flex flex-direction-column ml-15">
                                <label class="label label-required_danger mb-5" for="search-name-filter" style="white-space: nowrap">Ідентифікатор
                                    запиту</label>
                                <div class="w-100">
                                    <input
                                            style="width: 250px"
                                            class="input"
                                            type="text"
                                            id="search-name-filter"
                                            autocomplete="off"
                                    />
                                </div>
                            </div>

                            <button class="button button-secondary ml-15" onclick="resetTaskForm()">
                                {% include 'header/icons/icon-filter-clear.html' %}
                                <span style="margin-left: 10px">Скинути</span>
                            </button>
                            <button class="button button-primary ml-15" onclick="filterFlowerTasks()">
                                {% include 'header/icons/icon-filter.html' %}
                                <span style="margin-left: 10px">Фільтрувати</span>
                            </button>
                        </form>
                    </div>
                </div>

                {% set headings = [
                {'name': 'Name', 'is_name': True},
                {'name': 'UUID', 'uuid': True},
                {'name': 'State', 'state': True},
                {'name': 'args'},
                {'name': 'kwargs'},
                {'name': 'Result'},
                {'name': 'Received', 'date': True},
                {'name': 'Started', 'date': True},
                {'name': 'Runtime'},
                {'name': 'Worker'}
                ] %}

                <div class="table-header">
                    {% for heading in headings %}
                    <div style="width: {% if heading.uuid %}18%{% else %}{% if heading.is_name %}6%{% else %}{% if heading.state %}7%{% else %}{% if heading.date %}12%{% else %}8.5%{% endif %}{% endif %}{% endif %}{% endif %};">
                        {{ heading.name }}
                    </div>
                    {% endfor %}
                </div>

                <div class="content-wrapper-info">
                    <div class="table-content" id="flower-tasks-table">

                        {% if not tasks %}
                        <div class="table-row">
                            <div style="width: 100%; text-align: center">
                                Немає активних задач
                            </div>
                        </div>
                        {% endif %}
                        {% for uuid, task in tasks %}
                        <div class="table-row">
                            <div style="width: 12%">{{ task.name }}</div>
                            <div style="width: 12%">{{ task.uuid }}</div>
                            <div style="width: 12%">{{ task.state }}</div>
                            <div style="width: 12%">{{ task.args }}</div>
                            <div style="width: 12%">{{ task.kwargs }}</div>
                            <div style="width: 12%">
                                {% if task.state == "SUCCESS" %}
                                {{ task.result }}
                                {% elif task.state == "FAILURE" %}
                                {{ task.exception }}
                                {% endif %}
                            </div>
                            <div style="width: 12%" class="created-date">{{ task.get('received', 0)  }}</div>
                            <div style="width: 12%" class="created-date">{{ task.get('started', 0) }}</div>
                            <div style="width: 12%">
                                {% if task.timestamp and task.started %}
                                {{ '%.2f' % humanize(task.timestamp - task.started) }} sec
                                {% endif %}
                            </div>
                            <div style="width: 12%">{{ task.worker }}</div>
                            <div style="width: 12%">{{ task.exchange }}</div>
                            <div style="width: 12%">{{ task.routing_key }}</div>
                            <div style="width: 12%">{{ task.retries }}</div>
                            <div style="width: 12%" class="created-date">{{ task.get('started', 0) }}</div>
                            <div style="width: 12%">{{ task.exception }}</div>
                            <div style="width: 12%">{{ task.eta }}</div>
                            <div style="width: 60px">
                                <div class="is-flex-direction-row is-align-content-center">
                                    {% if task.state == "FAILURE" %}
                                        <a onclick="requeueJob('{{ task.uuid }}')" style="color: #00475A; cursor:pointer;">
                                           {% include 'header/icons/icon-requeue.html' %}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination">
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <ul class="pagination-wrapper">
                    <li class="pagination-wrapper-option" onclick="window.previousTaskPage()">
                        <div class="pagination-wrapper-option-button" aria-label="Goto page 1">
                            <svg height="20px" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.1667 8L11 12.1667L15.1667 16.3333" stroke="currentColor" stroke-width="2"
                                      stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </li>
                    <li class="pagination-wrapper-option ml-20">
                        <div class="pagination-wrapper-option-button pagination-wrapper-option-button-active"
                             id="page-number">{{ page if page else 1 }}
                        </div>
                    </li>
                    <li class="pagination-wrapper-option" onclick="window.nextTaskPage()">
                        <div class="pagination-wrapper-option-button" aria-label="Goto page 1"
                             style="margin-left: 10px">
                            <svg height="20px" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.2333 16L15.4 11.8333L11.2333 7.66667" stroke="currentColor"
                                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script>
    function convertUTCToLocal(utcDateString) {
      // Parse the UTC date string to a Date object
      if (utcDateString.endsWith("Z")) {
            utcDateString = utcDateString.replaceAll("Z", "");
        }
        const utcDate = new Date(utcDateString + 'Z')

      // Format the Date object to the desired format in the local timezone
      const options = {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        hour12: false,
        timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone // Ensures local timezone
      };

      const formatter = new Intl.DateTimeFormat('en-CA', options);
      const formattedDateParts = formatter.formatToParts(utcDate);

      // Extract parts and assemble into desired format
      const year = formattedDateParts.find(part => part.type === 'year').value;
      const month = formattedDateParts.find(part => part.type === 'month').value;
      const day = formattedDateParts.find(part => part.type === 'day').value;
      const hour = formattedDateParts.find(part => part.type === 'hour').value;
      const minute = formattedDateParts.find(part => part.type === 'minute').value;
      const second = formattedDateParts.find(part => part.type === 'second').value;

      // Return the formatted date string
      return `${year}-${month}-${day} ${hour}:${minute}:${second}`;
    }
    document.querySelectorAll('.created-date').forEach(element => {
      const utcDate = element.textContent.trim();
      element.textContent = convertUTCToLocal(utcDate);
    });
</script>
</body>
</html>
