<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>

{% include 'header/header-top.html' %}


<div class="container">

    {% include 'header/header-left.html' %}

    <div class="container-main">
        <div class="breadcrumb">
            <span class="breadcrumb-navigation flex flex-align-center" onclick="returnPrevious()">
                {% include 'header/icons/icon-breadcrumb.html' %}
            </span>
            <div class="breadcrumb-heading flex flex-align-center">
                <div class="breadcrumb-heading-previous ml-15">
                    Воркер
                </div>
            </div>
        </div>
        <div class="content flex flex-direction-row">
            <div class="card-wrapper">
                <div class="card" style="height: 100%">
                    <div style="padding: 20px 20px 0 20px">
                        <span class="card-title">
                            {{ worker['name'] }}
                        </span>

                        <div class="flex flex-direction-row tabs mt-20">
                            <div class="pool-tab-header tab is-active"
                                 onclick="changeFlowerWorkerTab(this, 'pool')">
                                <div class="flex flex-direction-row flex-align-center mb-10">
                                    <div>Pool</div>
                                </div>
                            </div>
                            <div class="broker-tab-header tab ml-40" onclick="changeFlowerWorkerTab(this, 'broker')">
                                <div class="flex flex-direction-row flex-align-center mb-10">
                                    <div class="">Broker</div>
                                </div>
                            </div>
                            <div class="queues-tab-header tab ml-40" onclick="changeFlowerWorkerTab(this, 'queues')">
                                <div class="flex flex-direction-row flex-align-center mb-10">
                                    <div class="">Queues</div>
                                </div>
                            </div>
                            <div class="tasks-tab-header tab ml-40" onclick="changeFlowerWorkerTab(this, 'tasks')">
                                <div class="flex flex-direction-row flex-align-center mb-10">
                                    <div class="">Tasks</div>
                                </div>
                            </div>
                            <div class="limits-tab-header tab ml-40" onclick="changeFlowerWorkerTab(this, 'limits')">
                                <div class="flex flex-direction-row flex-align-center mb-10">
                                    <div class="">Limits</div>
                                </div>
                            </div>
                            <div class="config-tab-header tab ml-40" onclick="changeFlowerWorkerTab(this, 'config')">
                                <div class="flex flex-direction-row flex-align-center mb-10">
                                    <div class="">Config</div>
                                </div>
                            </div>
                            <div class="system-tab-header tab ml-40" onclick="changeFlowerWorkerTab(this, 'system')">
                                <div class="flex flex-direction-row flex-align-center mb-10">
                                    <div class="">System</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="height: calc(100% - 136px);">
                        <div class="card-border"></div>
                        <div class="card-body-wrapper pt-10">
                            <div>
                                <div class="pool-tab tab-content-body p-20">
                                    {% for name,value in worker['stats'].get('pool', {}).items() %}
                                    <div class="w-100 flex flex-column mb-10">
                                        <label class="label label-required_danger">{{ name|humanize }}</label>
                                        <div class="w-100">
                                            <div>
                                                {{ value|humanize }}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    <div class="flex flex-direction-row flex-align-center mb-10">
                                        <label class="label label-required_danger">Worker PID</label>
                                        <div class="w-100">
                                            <div>
                                                {{ worker['stats'].get('pid', 'N/A') }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-direction-row flex-align-center mb-10">
                                        <label class="label label-required_danger">Prefetch count</label>
                                        <div class="w-100">
                                            <div>
                                                {{ worker['stats'].get('prefetch_count', 'N/A') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="broker-tab is-hidden tab-content-body p-20">
                                    {% for name,value in (worker['stats'].get('consumer', None) or
                                    worker['stats'])['broker'].items() %}
                                    <div class="w-100 flex flex-column mb-10">
                                        <label class="label label-required_danger">{{ name|humanize }}</label>
                                        <div class="w-100">
                                            <div>
                                                {{ value|humanize }}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="queues-tab is-hidden tab-content-body py-20">
                                    <p class="ml-10 mb-10" style="color: silver">Active queues:</p>
                                    {% set headings = [
                                    {'name': 'Name', 'is_name': True},
                                    {'name': 'Exclusive', 'state': True},
                                    {'name': 'Durable'},
                                    {'name': 'Routing key'},
                                    {'name': 'No ACK'},
                                    {'name': 'Alias'},
                                    {'name': 'Queue arguments', 'date': True},
                                    {'name': 'Binding arguments', 'date': True},
                                    {'name': 'Auto delete'},
                                    {'name': '', actions: True}
                                    ] %}
                                    <div class="table-header" style="border: 1px solid #e0e0e0;">
                                        {% for heading in headings %}
                                        <div style="width: {% if heading.is_name %}10%{% else %}{% if heading.state %}10%{% else %}10%{% endif %}{% if heading.actions %}12%{% else %}{% endif %}{% endif %};">
                                            {{ heading.name }}
                                        </div>
                                        {% endfor %}
                                    </div>

                                    <div class="content-wrapper-info" style="overflow-y: visible; margin-right: 0">
                                        <div class="table-content">

                                            {% if not worker.get('active_queues', []) %}
                                            <div class="table-row" style="border: 1px solid #e0e0e0;">
                                                <div style="width: 100%; text-align: center">
                                                    Немає активних задач
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% for queue in worker.get('active_queues', []) %}
                                            <div class="table-row" style="border: 1px solid #e0e0e0; margin-top: -5px">
                                                <div style="width: 12%">{{ queue['name'] }}</div>
                                                <div style="width: 12%">{{ queue['exclusive'] }}</div>
                                                <div style="width: 12%">{{ queue['durable'] }}</div>
                                                <div style="width: 12%">{{ queue['routing_key'] }}</div>
                                                <div style="width: 12%">{{ queue['no_ack'] }}</div>
                                                <div style="width: 12%">{{ queue['alias'] }}</div>
                                                <div style="width: 12%">{{ queue['queue_arguments'] }}</div>
                                                <div style="width: 12%">{{ queue['binding_arguments'] }}</div>
                                                <div style="width: 12%">{{ queue['auto_delete'] }}</div>
                                                <div style="width: 12%">
                                                    <button id="worker-cancel-consumer-{{ queue['name'] }}"
                                                            class="button button-main" style="padding: 5px 10px">
                                                        <span style="margin-left: 10px; color: #ffffff;">Cancel Consumer</span>
                                                    </button>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="tasks-tab is-hidden tab-content-body py-20">
                                    <p class="mb-10" style="color: silver">Processed tasks</p>

                                    {% for name,value in worker['stats']['total'].items() %}
                                    <div class="w-100 flex flex-column p-1 pl-10">
                                        <label class="label label-required_danger">{{ name|humanize }}</label>
                                        <div class="w-100">
                                            <div>
                                                {{ value|humanize }}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    <p class="mb-10 mt-10" style="color: silver">Active tasks</p>
                                    <div>
                                        <div class="table-header" style="border: 1px solid #e0e0e0;">
                                            <div style="width: 16%">Name</div>
                                            <div style="width: 16%">UUID</div>
                                            <div style="width: 16%">Ack</div>
                                            <div style="width: 16%">PID</div>
                                            <div style="width: 16%">args</div>
                                            <div style="width: 20%">kwargs</div>
                                        </div>
                                        <div class="table-content" style="position:relative;">
                                            {% if not worker.get('active', []) %}
                                            <div class="table-row" style="border: 1px solid #e0e0e0; margin-top: -5px">
                                                <div style="width: 100%; text-align: center">
                                                    Немає активних задач
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% for task in worker.get('active', {}) %}
                                            <div class="table-row" style="border: 1px solid #e0e0e0; margin-top: -5px">
                                                <div style="width: 16%">{{ task['name'] }}</div>
                                                <div style="width: 16%">
                                                    <a href="{{ url_for('flower_task', task_id=task['id']) }}">{{ task['id'] }}</a>
                                                </div>
                                                <div style="width: 16%">{{ task['acknowledged'] }}</div>
                                                <div style="width: 16%">{{ task['worker_pid'] }}</div>
                                                <div style="width: 16%">{{ task.get('args', 'N/A') }}</div>
                                                <div style="width: 20%">{{ task.get('kwargs', 'N/A') }}</div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <p class="mb-10 mt-10" style="color: silver">Scheduled tasks</p>
                                    <div class="table-header" style="border: 1px solid #e0e0e0;">
                                        <div style="width: 25%">Name</div>
                                        <div style="width: 25%">UUID</div>
                                        <div style="width: 25%">args</div>
                                        <div style="width: 25%">kwargs</div>
                                    </div>
                                    <div class="table-content" style="position:relative;">
                                        {% if not worker.get('scheduled', []) %}
                                        <div class="table-row" style="border: 1px solid #e0e0e0; margin-top: -5px">
                                            <div style="width: 100%; text-align: center">
                                                Немає активних scheduled задач
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% for task in worker.get('scheduled', {}) %}
                                        <div class="table-row" style="border: 1px solid #e0e0e0; margin-top: -5px">
                                            <div style="width: 25%">{{ task['request']['name'] }}</div>

                                            <div style="width: 25%">
                                                <a href="{{ url_for('flower_task', task_id=task['request']['id']) }}">{{
                                                    task['request']['id'] }}</a>
                                            </div>

                                            <div style="width: 25%">{{ task['request']['args'] }}</div>
                                            <div style="width: 25%">{{ task['request']['kwargs'] }}</div>
                                        </div>
                                        {% endfor %}
                                    </div>

                                    <p class="mb-10 mt-10" style="color: silver">Reserved tasks</p>
                                    <div class="table-header" style="border: 1px solid #e0e0e0;">
                                        <div style="width: 25%">Name</div>
                                        <div style="width: 25%">UUID</div>
                                        <div style="width: 25%">args</div>
                                        <div style="width: 25%">kwargs</div>
                                    </div>
                                    <div class="table-content" style="position:relative;">

                                        {% if not worker.get('reserved', {}) %}
                                        <div class="table-row" style="border: 1px solid #e0e0e0; margin-top: -5px">
                                            <div style="width: 100%; text-align: center">
                                                Немає активних reserved задач
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% for task in worker.get('reserved', {}) %}
                                        <div class="table-row" style="border: 1px solid #e0e0e0; margin-top: -5px">
                                            <div style="width: 25%">{{ task['name'] }}</div>
                                            <div style="width: 25%">
                                                <a href="{{ url_for('flower_task', task_id=task['id']) }}">{{ task['id'] }}</a>
                                            </div>
                                            <div style="width: 25%">{{ task['args'] }}</div>
                                            <div style="width: 25%">{{ task['kwargs'] }}</div>
                                        </div>
                                        {% endfor %}
                                    </div>

                                    <p class="mb-10 mt-10" style="color: silver">Revoked tasks</p>
                                    <div class="table-header" style="border: 1px solid #e0e0e0;">
                                        <div style="width: 100%">UUID</div>
                                    </div>
                                    <div class="table-content" style="position:relative;">
                                        {% if not worker.get('revoked', []) %}
                                        <div class="table-row" style="border: 1px solid #e0e0e0; margin-top: -5px">
                                            <div style="width: 100%; text-align: center">
                                                Немає активних revoked задач
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% for task in worker.get('revoked', []) %}
                                        <div class="table-row" style="border: 1px solid #e0e0e0; margin-top: -5px">
                                            <div style="width: 100%">
                                                {% if task %}
                                                <a href="{{ url_for('flower_task', task_id=task) }}">{{ task }}</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="limits-tab is-hidden tab-content-body py-20">
                                    <p class="mb-10 mt-10" style="color: silver">Task limits</p>
                                    <div class="table-header" style="border: 1px solid #e0e0e0;">
                                        <div style="width: 33.3%">Task</div>
                                        <div style="width: 33.3%">Rate limit</div>
                                        <div style="width: 33.3%">Timeouts</div>
                                    </div>
                                    <div class="table-content" style="position:relative;">

                                        {% if not worker.get('registered', []) %}
                                        <div class="table-row" style="border: 1px solid #e0e0e0; margin-top: -5px">
                                            <div style="width: 100%; text-align: center">
                                                Немає активних задач
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% for taskname in worker.get('registered', []) %}
                                        <div class="table-row" style="border: 1px solid #e0e0e0; margin-top: -5px">
                                            <div style="width: 25%">{{ taskname }}</div>
                                            <div style="width: 25%; display: flex"
                                                 class="flex flex-direction-row flex-align-center">
                                                <div>
                                                    <input class="input" type="number" style="width: auto">
                                                </div>
                                                <div class="ml-10">
                                                    <button class="button button-main" style="padding: 5px 10px"
                                                            type="button"
                                                            id="task-rate-limit-{{taskname}}">Apply
                                                    </button>
                                                </div>
                                            </div>
                                            <div style="width: 25%; display: flex"
                                                 class="flex flex-direction-row flex-align-center">
                                                <div>
                                                    <input class="input" type="number" style="width: auto">
                                                </div>
                                                <div class="ml-10">
                                                    <button class="button button-main" style="padding: 5px 10px"
                                                            type="button"
                                                            id="task-timeout-soft-{{taskname}}">Soft
                                                    </button>
                                                </div>
                                                <div class="ml-10">
                                                    <button class="button button-main" style="padding: 5px 10px"
                                                            type="button"
                                                            id="task-timeout-hard-{{taskname}}">Hard
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="config-tab is-hidden tab-content-body p-20">
                                    {% for name,value in worker.get('conf', {}).items() %}
                                    {% if value %}
                                    <div class="w-100 flex flex-column mb-10">
                                        <label class="label label-required_danger">
                                            <a href="https://docs.celeryq.dev/en/latest/userguide/configuration.html#{{ name.lower().replace('_', '-') }}"
                                               target="_blank">{{ name|humanize }}</a>
                                        </label>
                                        <div class="w-100">
                                            <div>
                                                {{ value|humanize }}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="system-tab is-hidden tab-content-body p-20">
                                    {% if worker['stats'] and worker['stats'].get('rusage', None) %}
                                    {% for name, value in worker['stats']['rusage'].items() %}
                                    <div class="w-100 flex flex-column mb-10">
                                        <label class="label label-required_danger">
                                            {{ name }}
                                        </label>
                                        <div class="w-100">
                                            <div>
                                                {{ value }}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script>
    function returnPrevious() {
        if (!document.referrer) {
            window.location.href = '/flowers/workers'
        } else if (!document.referrer.includes("workers")) {
            window.location.href = '/flowers/workers'
        } else {
            window.location.href = document.referrer;
        }
    }

    function changeFlowerWorkerTab(el, tab) {
        const tabHeaders = document.querySelectorAll('.tab');
        const tabContents = document.querySelectorAll('.tab-content-body');
        tabHeaders.forEach(header => header.classList.remove('is-active'));
        tabContents.forEach(content => content.classList.add('is-hidden'));
        el.classList.add("is-active");
        document.querySelector(`.${tab}-tab`).classList.remove('is-hidden');
    }
</script>
</html>